.container {
  margin: 0 auto;
  width: 95%;

  article {
    width: 100%;
  }

  @media (min-width: 900px) {
    width: 90%;
  }

  @media (min-width: 1200px) {
    width: 85%;
  }

  @media (min-width: 1800px) {
    width: 80%;
  }

  @media (min-width: 2400px) {
    max-width: 2000px;
  }
}
