.input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--turquoiseLight);
  border: 1px solid var(--turquoise);
  font-size: 1rem;
}

.input:invalid {
  @extend .input;
  background-color: var(--errorLight);
  border: 1px solid var(--error);
}

.btn {
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px 15px;
  transition: 0.4s;
  margin: 5px 0;
  height: 40px;
  min-width: max-content;
  font-size: 1rem;

  &:hover {
    background-color: var(--yellowDark);
  }

  &:disabled {
    background-color: gray;
    cursor: default;
  }
}

.btnClear {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: black;
  font-size: 1rem;
}
