body {
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex: 1 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
}
