.search {
  margin-top: 50px;

  h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .select {
    border: 1px solid gray;
    border-radius: 50px;
    margin-top: 70px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      transition: all ease-in-out .5s;
    }

    .active {
      background-color: lightgray;
    }
  }
}
