.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;

  svg {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }

  a, button {
    margin: 0 15px;
    display: flex;
    align-items: center;
  }

  .home {
    margin-left: 0;

    svg {
      margin-left: 0;
    }
  }

  .account {
    display: flex;

    .userName {
      display: flex;
      align-items: center;
    }
  }
}

