.search {
  margin-top: 70px;

  h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .select {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
  }

  .find {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    label {
      display: flex;
      align-items: center;

      div {
        margin-right: 30px;
      }
    }
  }
}
