.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;

  svg {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }

  .auth {
    display: flex;
    margin-left: 30px;

    button {
      display: flex;
      align-items: center;
      font-size: 1em;
    }

    .account {
      display: flex;

      .userName {
        display: flex;
        align-items: center;
        margin-right: 30px;
      }
    }
  }
}
